.pages-template {
  position: relative;
  padding-top: 60px;
  padding-bottom: 60px;
}
.pages-template h1 {
  font-size: 46px;
  font-weight: 300;
  margin: 0 0 40px 0;
  text-align: left;
  display: block;
}
.pages-template h2 {
  font-weight: 300;
  margin: 0 0 30px 0;
}
.pages-template strong {
  font-weight: 900;
}
.pages-template p {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  margin-bottom: 40px;
  text-align: justify;
}
.pages-template .gridbox-container {
  width: 100%;
  height: auto;
  display: block;
  overflow: hidden;
  position: relative;
}
.pages-template .gridbox-container a.gridbox-image-content {
  width: 100%;
  height: 100%;
  display: block;
  position: relative;
  margin-bottom: 20px;
  outline: none;
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
}
.pages-template .gridbox-container a.gridbox-image-content:before {
  width: 30px;
  height: 30px;
  display: block;
  text-align: center;
  line-height: 30px;
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  margin-left: -15px;
  margin-top: -15px;
  z-index: 10;
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  transition: all 0.25s;
  opacity: 0;
  filter: "alpha(opacity=0)";
}
.pages-template .gridbox-container a.gridbox-image-content.icon-expanded:before {
  font-family: "FontAwesome";
  font-size: 30px;
  content: "\f065";
  color: #fff;
}
.pages-template .gridbox-container a.gridbox-image-content:after {
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  z-index: 5;
  background-color: rgba(0, 0, 0, 0.3);
  opacity: 0;
  filter: "alpha(opacity=0)";
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
}
.pages-template .gridbox-container a.gridbox-image-content:hover:after,
.pages-template .gridbox-container a.gridbox-image-content:hover:before {
  opacity: 1;
  filter: "alpha(opacity=100)";
}
.pages-template .gridbox-container a.gridbox-image-content:hover:before {
  -webkit-transform: rotateZ(360deg);
  -moz-transform: rotateZ(360deg);
  transform: rotateZ(360deg);
}
.pages-template .gridbox-container h5 {
  color: #0081c5;
  font-weight: 900;
  text-transform: uppercase;
  margin: 0 0 5px 0;
}
.pages-template .gridbox-container p {
  color: #777777;
  margin: 0;
}
@media (max-width: 992px) {
  .pages-template .gridbox-team {
    margin-bottom: 25px;
  }
  .pages-template .gridbox-team-float {
    margin-left: auto;
    margin-right: auto;
    float: none;
  }
}
@media (max-width: 480px) {
  .pages-template h1 {
    font-size: 36px;
  }
  .pages-template p {
    font-size: 14px;
    line-height: 24px;
    text-align: left;
  }
  .pages-template .gridbox-team {
    width: 100% !important;
    margin-bottom: 15px;
  }
  .pages-template .gridbox-team:last-child {
    margin-bottom: 0;
  }
}
.subfooter-content {
  width: 100%;
  height: auto;
  position: relative;
  overflow: hidden;
  display: block;
  background-color: #0081c5;
  padding-top: 60px;
  padding-bottom: 60px;
}
.subfooter-content h1.subfooter-title {
  color: #fff;
  font-size: 46px;
  font-weight: 300;
  text-align: center;
  margin: 15px 0 60px;
  display: block;
}
.subfooter-content h1.subfooter-title span {
  font-weight: 900;
}
.subfooter-content .item-circle-content {
  width: 100%;
  color: #fff;
  display: block;
  overflow: hidden;
  position: relative;
  padding-bottom: 20px;
}
.subfooter-content .item-circle-content:before {
  width: 120px;
  height: 120px;
  content: "";
  line-height: 120px;
  text-align: center;
  display: block;
  float: left;
  background-color: #fff;
  margin-right: 20px;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
}
.subfooter-content .item-circle-content.item-1:before,
.subfooter-content .item-circle-content.item-2:before,
.subfooter-content .item-circle-content.item-3:before,
.subfooter-content .item-circle-content.item-4:before {
  font-family: 'Lato', sans-serif;
  font-size: 60px;
  font-weight: 300;
  color: #0081c5;
}
.subfooter-content .item-circle-content.item-1:before {
  content: "01";
}
.subfooter-content .item-circle-content.item-2:before {
  content: "02";
}
.subfooter-content .item-circle-content.item-3:before {
  content: "03";
}
.subfooter-content .item-circle-content.item-4:before {
  content: "04";
}
.subfooter-content .item-circle-content h3 {
  font-weight: 700;
  margin: 0 0 15px 0;
}
.subfooter-content .item-circle-content p {
  font-size: 14px;
  line-height: 22px;
  margin: 0;
  display: block;
}
@media (max-width: 992px) {
  .subfooter-content .item-circle-content:before {
    float: none;
    margin: 0 auto 20px;
  }
  .subfooter-content .item-circle-content {
    text-align: center;
  }
}
@media (max-width: 480px) {
  .subfooter-content h1.subfooter-title {
    font-size: 36px;
  }
  .subfooter-content .col-xs-6 {
    width: 100% !important;
  }
}
.team-modal .modal-content {
  min-height: 100%;
  padding: 100px 0;
  background-clip: border-box;
  text-align: center;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.team-modal .modal-content img.img-responsive {
  margin: 30px auto;
}
.team-modal .modal-content p {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  color: #333333;
  margin-bottom: 20px;
  text-align: justify;
}
.team-modal .modal-content a {
  color: #0081c5;
  font-weight: 700;
  border-bottom: 2px solid #eeeeee;
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
}
.team-modal .modal-content a:hover {
  border-bottom-color: #0081c5;
}
.team-modal .modal-content button.btn.btn-primary {
  font-size: 12px;
  font-weight: 700;
  background-color: #0081c5;
  margin-top: 40px;
}
.team-modal .modal-content button.btn.btn-primary:hover {
  background-color: #00669c;
}
.team-modal .modal-content h1.modal-title {
  font-weight: 900;
  text-transform: uppercase;
  margin: 0 0 10px 0;
}
.team-modal .modal-content p.modal-subtitle {
  color: #777777;
  font-size: 16px;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
  text-align: center;
}
.team-modal .close-modal {
  width: 75px;
  height: 75px;
  position: absolute;
  top: 30px;
  right: 30px;
  cursor: pointer;
  outline: none;
  background-color: transparent;
  -webkit-transition: opacity 0.35s;
  -moz-transition: opacity 0.35s;
  transition: opacity 0.35s;
}
.team-modal .close-modal:hover {
  opacity: 0.4;
  filter: "alpha(opacity=40)";
}
.team-modal .close-modal .lr {
  width: 1px;
  height: 75px;
  margin-left: 35px;
  background-color: #222222;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  transform: rotate(45deg);
  z-index: 1050;
}
.team-modal .close-modal .lr .rl {
  width: 1px;
  height: 75px;
  background-color: #222222;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  transform: rotate(90deg);
  z-index: 1052;
}
.modal-backdrop {
  display: none;
  opacity: 0;
  filter: "alpha(opacity=0)";
}
